@import "../fontawesome/css/font-awesome.min.css";

.list.active {
    background-color: #696b6e !important;
}
.list.active * {
    color: #fff !important;
}
.list.active:hover {
    background-color: #696b6e !important;
}
.list.active *:hover {
    color: #fff;
}

.bat:hover p {
    color: #ff8a80;
}

#critic-detail .nav-tabs a.nav-link {
    border: none !important;
}

#critic-detail .nav-tabs a.nav-link.active {
    background-color: #fff !important;
    color: #ff8a80 !important;
    z-index: 0;
    border-top: 1px solid rgba(255, 255, 255, 1) !important;
    border-left: 1px solid rgba(255, 255, 255, 1) !important;
    border-right: 1px solid rgba(255, 255, 255, 1) !important;
}

#critic-detail .nav-tabs a.nav-link.active:hover {
    color: #ff8a80 !important;
}

#critic-detail ul.nav {
    border: none !important;
}

#critic-detail .tab-content {
    border-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

#critic-detail .review-row:not(.first) {
    border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
}

#critic-detail .page-link {
    background-color: #fff !important;
}

#critic-detail .page-item.active .page-link {
    background-color: #ff8a80 !important;
    border: 1px solid #ff8a80 !important;
    color: #fff !important;
    cursor: default;
}

#critic-detail .page-link:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#critic-detail .page-link:active {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#critic-detail .page-item:not(.active):hover {
    background-color: #ff8a80 !important;
    color: #fff !important;
    opacity: 0.5;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#critic-detail .page-item.disabled .page-link {
    background-color: transparent !important;
    opacity: 0.2;
}

#critic-detail .page-item.disabled:hover {
    background-color: transparent !important;
    opacity: 1;
}

#publication-detail .nav-tabs a.nav-link {
    border: none !important;
}

#publication-detail .nav-tabs a.nav-link.active {
    background-color: #fff !important;
    color: #ff8a80 !important;
    z-index: 0;
    border-top: 1px solid rgba(255, 255, 255, 1) !important;
    border-left: 1px solid rgba(255, 255, 255, 1) !important;
    border-right: 1px solid rgba(255, 255, 255, 1) !important;
}

#publication-detail .nav-tabs a.nav-link.active:hover {
    color: #ff8a80 !important;
}

#publication-detail ul.nav {
    border: none !important;
}

#publication-detail .tab-content {
    border-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border: 1px solid rgba(255, 255, 255, 1) !important;
}

#publication-detail .review-row:not(.first) {
    border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
}

#publication-detail .page-link {
    background-color: #fff !important;
}

#publication-detail .page-item.active .page-link {
    background-color: #ff8a80 !important;
    border: 1px solid #ff8a80 !important;
    color: #fff !important;
    cursor: default;
}

#publication-detail .page-link:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#publication-detail .page-link:active {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

#publication-detail .page-item:not(.active):hover {
    background-color: #ff8a80 !important;
    color: #fff !important;
    opacity: 0.5;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#publication-detail .page-item.disabled .page-link {
    background-color: transparent !important;
    opacity: 0.2;
}

#publication-detail .page-item.disabled:hover {
    background-color: transparent !important;
    opacity: 1;
}