<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About | Mude</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="images/logo-white.ico">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/browse.css">
</head>
<body>
    <section class="px-0" th:replace="index :: header"></section>
    <div th:replace="index :: header-modal"></div>
    <section th:replace="index :: loader"></section>
    
    <section class="mt-md-0 mt-sm-5 mt-5 pt-md-0 pt-sm-3 pt-4 d-none">
        <div class="container-fluid mx-0 my-0 px-0 py-0">
            <div class="row mx-0 my-0 px-3 py-3 bg-dark">
                <div class="col-md-9 mx-0 my-0 pr-md-4 px-0 py-0">
                    
                    <div class="col-12 mx-0 my-0 px-0 py-0 rounded-0" id="about-us-div">
                        <h3 class="mx-4 py-4">
                            ABOUT Mude®
                        </h3>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            MudeMeter® and the MudeMeter® rating is the most trusted measurement of quality entertainment. As the leading online
                            aggregator of movie and TV show reviews from professional critics, Mude offers the most comprehensive guide to what's fresh.
                            The world famous MudeMeter rating represents the percentage of positive professional reviews for films and TV shows and is
                            used by millions every day, to help with their entertainment viewing decisions. Mude designates the best reviewed movies
                            and TV shows as Certified Fresh™. That accolade is awarded with MudeMeter ratings of 75% and higher, and a required minimum
                            number of reviews. Weekly Mude podcasts can be found on Mude.com, iTunes, Soundcloud and Stitcher, and Mude's entertainment
                            experts make regular TV and radio appearances across the US.
                        </p>
                        <p class="mx-4 my-4" style="font-size:1em;">
                            In 2016, CSE 308 and Mude became part of Team Pine's portfolio of digital properties, serving moviegoers and
                            entertainment fans.
                        </p>
                        <div class="ml-3 divider" style="background-color:white !important; width:95% !important;"></div>
                        <h5 class="mx-4 py-4">
                            WHAT IS THE MudeMeter®?
                        </h5>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            The MudeMeter rating - based on the published opinions of hundreds of film and television critics - is a trusted measurement
                            of movie and TV programming quality for millions of moviegoers.
                        </p>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            The MudeMeter rating represents the percentage of professional critic reviews that are positive for a given film or television
                            show.
                        </p>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            Back in the days of the open theaters, 
                            when a play was particularly atrocious, 
                            the audience expressed their dissatisfaction
                            by not only booing and hissing at the stage, 
                            but throwing whatever was at hand -- vegetables and fruits included.
                        </p>
                        <div class="row mx-4 my-3 px-0 py-0">
                            <h3 class="col-md-1 col-sm-12 col-12 my-0 gold">M</h3>
                            <p class="col-11" style="font-size:1em;">
                                A GOOD review is denoted by a gold mude. In order for a movie or TV show to receive an overall rating of Fresh, the
                                reading on the MudeMeter for that movie must be at least 60%.
                            </p>
                        </div>
                        <div class="row mx-4 my-3 px-0 py-0">
                            <h3 class="col-md-1 col-sm-12 col-12 my-0 silver">M</h3>
                            <p class="col-11" style="font-size:1em;">
                                A NOT-BAD review is denoted by a silver Mude (59% or less).
                            </p>
                        </div>
                        <div class="row mx-4 my-3 px-0 py-0">
                            <h3 class="col-md-1 col-sm-12 col-12 my-0 bronze">M</h3>
                            <p class="col-11" style="font-size:1em;">
                                An AVERAGE review is denoted by a bronze Mude (59% or less).
                            </p>
                        </div>
                        <div class="row mx-4 my-3 px-0 py-0">
                            <h3 class="col-md-1 col-sm-12 col-12 my-0 black">M</h3>
                            <p class="col-11" style="font-size:1em;">
                                 A BAD review is denoted by a burnt Mude (59% or less).
                            </p>
                        </div>
                        <div class="row mx-4 my-3 px-0 py-0">
                            <h3 class="col-md-1 col-sm-12 col-12 my-0 neon">M</h3>
                            <p class="col-11" style="font-size:1em;">
                                To receive a Certified Fresh Pick rating a movie must have a steady MudeMeter rating of 75% or better. Movies opening in wide
                                release need at least 80 reviews from MudeMeter Critics (including 5 Top Critics). Movies opening in limited release need
                                at least 40 reviews from MudeMeter Critics (including 5 Top Critics). A TV show must have a MudeMeter Score of 75% or
                                better with 20 or more reviews from MudeMeter Critics (including 5 Top Critics). If the MudeMeter score drops below 70%,
                                then the movie or TV show loses its Certified Fresh status. In some cases, the Certified Fresh designation may be held at
                                the discretion of the Mude MudeMeter editorial team.
                            </p>
                        </div>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            We Have Decided to use <b class="text-danger">SAME ICONS</b> for both Critics & Users.
                        </p>
                    </div>
                    
                    <div class="col-12 mx-0 my-0 px-0 py-0 rounded-0" id="contact-us-div" style="display: none;">
                        <h3 class="mx-4 py-4">
                            Contact Us
                        </h3>
                        <div class="col-12 mx-4 my-0 px-0 py-0">
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Customer Support
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                Visit our <a class="text-danger-light">FAQs</a>
                                or fill out our <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Request%20to%20Mude">Email Form</a>.</p>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Licensing or Partnership Inquires
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                 Fill out our <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Partnership%20Request%20to%20Mude">Email Form</a>.</p>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Submit Movie Information
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Fixing%20Request%20to%20Mude">Tell us</a> about missing or incorrect movie or TV information.
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Advertise
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pt-0 pb-4">
                                Review <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Advertisment%20Request%20to%20Mude">Mude Advertising Opportunities</a>.
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mx-0 my-0 px-0 py-0 rounded-0" id="terms-div" style="display: none;">
                        <h3 class="mx-4 py-4">
                            Terms of Service
                        </h3>
                        <p class="mx-4 my-2" style="font-size:1em;">
                            These Mude Terms and Policies (the "Mude Terms and Policies") were last updated on: October 7, 2016. When we say
                            "our", "us", "we" or "Mude" in these Mude Terms and Policies, we mean Mude Media, LLC or its subsidiaries. These
                            Mude Terms and Policies apply to websites and applications operating under the Mude, brands or other brands that we own, as well as those of our websites, applications, emails and other
                            communications that link to or reference these Mude Terms and Policies, or the other services provided through any of
                            these means (the "Services"). From time to time, we may revise these Mude Terms and Policies. You can determine when
                            these Mude Terms and Policies were last revised by referring to the top of this page. Any changes to the Mude Terms
                            and Policies will become effective upon posting of the revised Mude Terms and Policies on the Internet, accessible through
                            Services, unless otherwise noted. By continuing to use Services following such changes, you will be deemed to have agreed
                            to such changes. If you do not agree with the terms of these Mude Terms and Policies, as they may be amended from time
                            to time, please do not purchase movies from Mude or continue using the Services. To the extent that an arbitrator or
                            court of applicable jurisdiction determines that applying any changes to these Mude Terms and Policies would render this
                            an illusory or unenforceable contract, such changes shall be applicable on a prospective basis only, with respect to events
                            or circumstances occurring after the date of such changes.
                        </p>
                        <p class="mx-4 my-4" style="font-size:1em;">
                             The Mude Terms and Policies consist of:
                        </p>
                        <div class="col-12 mx-4 my-0 px-0 py-0">
                            <p class="mx-0 my-0 px-0 py-0">
                                <a class="text-danger-light">Privacy Policy</a>
                            </p>
                        </div>
                        <div class="col-12 mx-4 my-0 px-0 pt-0 pb-4">
                            <p class="mx-0 my-0 px-0 py-0">
                                <a class="text-danger-light">Terms of Use</a>
                            </p>
                        </div>
                        <div class="ml-3 divider" style="background-color:white !important; width:95% !important;"></div>
                        
                        <p class="mx-4 py-4">
                            NOTICE OF ARBITRATION PROVISIONS:
                        </p>
                        <div class="col-12 mx-4 my-0 px-0 py-2">
                            <p class="mx-0 my-0 px-0 py-0">
                                <b>
                                    All the above Terms and Policies and your use of the Services are subject to binding individual arbitration of any disputes
                                    which may arise. Please read the arbitration provisions carefully and do not use the Services if you are unwilling to arbitrate
                                    any disputes you may have with us as provided below.
                                </b>
                            </p>
                        </div>

                        <p class="mx-4 py-4">
                            BINDING ARBITRATION OF ALL DISPUTES
                        </p>
                        <div class="col-12 mx-4 my-0 px-0 py-2">
                            <p class="mx-0 my-0 px-0 py-0">
                                <b>
                                    We believe that arbitration is a faster, more convenient and less expensive way to resolve any disputes or disagreements
                                    that you may have with us. Therefore, pursuant to these Terms, if you have any dispute or disagreement with us regarding
                                    or relating to (i) your use of or interaction with the Services, (ii) any purchases or other transactions or relationships
                                    with Mude, or (iii) any data or information you may provide to Mude or that Mude may gather in connection with
                                    such use, interaction or transaction (collectively, "Mude Transactions or Relationships"), you will not have the right
                                    to pursue a claim in court, or have a jury decide the claim and you will not have the right to bring or participate in any
                                    class action or similar proceeding in court or in arbitration. By using or interacting with the Services, or engaging in
                                    any other Mude Transactions or Relationships with us, you agree to binding arbitration as provided below. Our rights
                                    and obligations under this arbitration provision shall inure to the benefit of each of Mude's Owners (as defined in the
                                    Privacy Policy regardless of whether any of them are named as a co-defendant with us or named individually in a claim that
                                    would otherwise be subject to this arbitration provision if brought against us.
                                </b>
                            </p>
                        </div>
                        <div class="col-12 mx-4 my-0 px-0 py-2">
                            <p class="mx-0 my-0 px-0 py-0">
                                We will make every reasonable effort to informally resolve any complaints, disputes, or disagreements that you may have
                                with us. If those efforts fail, by using our Services, you agree that any complaint, dispute, or disagreement you may have
                                against Mude, and any claim that Mude may have against you, arising out of, relating to, or connected in any way
                                with our Terms of Use, our Privacy Policy, our Terms and Policies, or any Mude Transactions or Relationships shall be
                                resolved exclusively by final and binding arbitration ("Arbitration") administered by JAMS or its successor ("JAMS") and
                                conducted in accordance with the JAMS Streamlined Arbitration Rules And Procedures in effect at the time the Arbitration
                                is initiated or, if the amount in controversy exceeds $100,000, in accordance with the JAMS Comprehensive Arbitration Rules
                                And Procedures then in effect (respectively, the "Applicable Rules"). The Applicable Rules can be found at www.jamsadr.com.
                                If JAMS is no longer in existence, the Arbitration shall be administered by the American Arbitration Association or its successor
                                (the "AAA") instead, and conducted in accordance with the AAA Commercial Arbitration Rules in effect at that time (which
                                shall be the "Applicable Rules" in such circumstances). If JAMS (or, if applicable, AAA) at the time the arbitration is filed
                                has Minimum Standards of Procedural Fairness for Consumer Arbitrations in effect which would be applicable to the matter
                                in dispute, Mude agrees to provide the benefit of such Minimum Standards to you to the extent they are more favorable
                                than the comparable arbitration provisions set forth herein, provided, however, that in no event may such Minimum Standards
                                contravene or restrict the application of subpart (e) or (i) below. Furthermore, nothing herein shall prevent any party from
                                seeking provisional remedies in aid of arbitration from a court of appropriate jurisdiction. You further agree that:
                            </p>
                        </div>

                        <ul class="my-2 py-2">
                            <li class="py-3">
                                the Arbitration shall be conducted before a single arbitrator selected in accordance with the Applicable Rules or by mutual
                                agreement between you and Mude (the "Arbitrator");
                            </li>

                            <li class="py-3">
                                the Arbitrator, and not any federal, state or local court or agency, shall have the exclusive authority to resolve any dispute
                                arising under or relating to the validity, interpretation, applicability, enforceability or formation of these Terms and/or
                                these arbitration provisions hereof, including but not limited to any claim that all or any part of these Terms is void or
                                voidable;
                            </li>

                            <li class="py-3">
                                the Arbitration shall be held either: (i) at a location determined by JAMS (or, if applicable, AAA) pursuant to the Applicable
                                Rules (provided that such location is reasonably convenient for you and does not require travel in excess of 100 miles from
                                your home or place of business); or (ii) at such other location as may be mutually agreed upon by you and Mude; or (iii)
                                at your election, if the only claims in the arbitration are asserted by you and are for less than $10,000 in aggregate, by
                                telephone or by written submission.

                            </li>

                            <li class="py-3">
                                the Arbitration shall be held either: (i) at a location determined by JAMS (or, if applicable, AAA) pursuant to the Applicable
                                Rules (provided that such location is reasonably convenient for you and does not require travel in excess of 100 miles from
                                your home or place of business); or (ii) at such other location as may be mutually agreed upon by you and Mude; or (iii)
                                at your election, if the only claims in the arbitration are asserted by you and are for less than $10,000 in aggregate, by
                                telephone or by written submission.
                            </li>

                            <li class="py-3">
                                the Arbitration can resolve only your and/or Mude's individual claims, and the Arbitrator shall have no authority to
                                entertain or arbitrate any claims on a class or representative basis, or to consolidate or join the claims of other persons
                                or parties who may be similarly situated;
                            </li>

                            <li class="py-3">
                                the Arbitrator shall issue a written award supported by a statement of decision setting forth the Arbitrator's complete
                                determination of the dispute and the factual findings and legal conclusions relevant to it (an "Award"). Judgment upon the
                                Award may be entered by any court having jurisdiction thereof or having jurisdiction over the relevant party or its assets;
                            </li>

                            <li class="py-3">
                                in the event that you are able to demonstrate that the costs of Arbitration will be prohibitive as compared to the costs
                                of litigation, Mude will pay as much of your filing and hearing fees in connection with the Arbitration as the Arbitrator
                                deems necessary to prevent the arbitration from being cost-prohibitive, regardless of the outcome of the Arbitration, unless
                                the Arbitrator determines that your claim(s) were frivolous or asserted in bad faith;
                            </li>

                            <li class="py-3">
                                in the event you recover an Award greater than Mude's last written settlement offer, the Arbitrator shall also have
                                the right to include in the Award Mude's reimbursement of your reasonable and actual out-of-pocket attorneys' fees associated
                                with the Arbitration, but Mude shall in all events bear its own attorneys' fees; and
                            </li>

                            <li class="py-3">
                                with the exception of subpart (e) above, if any part of this arbitration provision is deemed to be invalid, unenforceable
                                or illegal, or otherwise conflicts with the Applicable Rules, then the balance of this arbitration provision shall remain
                                in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, illegal or conflicting provision
                                were not contained herein. If, however, subpart (e) is found to be invalid, unenforceable or illegal, then the entirety of
                                this arbitration provision shall be null and void, and neither you nor Mude shall be entitled to arbitrate their dispute,
                                and must instead bring any claims in a court of competent jurisdiction.
                            </li>

                            <li class="py-3">
                                Mude may modify these arbitration provisions, but such modifications shall only become effective thirty (30) days after
                                Mude has given notice of such modifications and only on a prospective basis for claims arising from Mude Transactions
                                and Relationships occurring after the effective date of such notification.
                            </li>

                            <li class="py-3">
                                Notwithstanding the foregoing arbitration provisions, at your option, you may bring any claim you have against Mude
                                in your local small claims court within the United States, if your claim is within such court's jurisdictional limit; provided
                                that such court does not have the authority to entertain any claims on a class or representative basis, or to consolidate
                                or join the claims of other persons or parties who may be similarly situated in such proceeding.
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 mx-0 my-0 px-0 py-0 rounded-0" id="help-div" style="display: none;">
                        <h3 class="mx-4 py-4">
                            Need Help?
                        </h3>
                        <div class="col-12 mx-4 my-0 px-0 py-0">
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Customer Service
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Visit About <a class="text-danger-light hover-dark" href="/">Mude</a> to learn more about the MudeMeter and team behind it. For quick answers to common questions
                                    about our site, visit our Frequently Asked Questions. Still have questions or want to submit a movie or TV data edit request?
                                    Contact us via our Email Form.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Edit Requests
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Tell us about missing or incorrect movie or TV information by submitting a request via our Email Form. Are we missing a
                                    review? Review our Tomatometer Criteria to make sure that the publication and critic are approved before submitting a request
                                    to add a review.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Licensing
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Interested in displaying a Mude trademarked logo on marketing material or your site/app? Review our Trademark
                                    Use Guidelines and then please submit a request with details on how the logos will be used via our Business Proposal Form.
                                    For information about integrating Mude data into your application (via APIs, data feeds), please submit a request
                                    with details about your application and your planned usage of our data via our Business Proposal Form.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Partnerships
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    If your company is interested in partnering with us, fill out our Business Proposal Form with more details.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Advertising
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Want to advertise with Mude? Get more information from the Mude Advertising page. You
                                    can submit a request there for a Mude sales person to contact you.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Critic or Publication Submission
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Movie and TV reviews used to calculate the Tomatometer come from publications or individual critics that have been selected
                                    by the Mude staff. Interested in adding yourself as a critic or your publication as a source? Review our Tomatometer
                                    Criteria to determine if you are eligible. If you are eligible, instructions to apply are also listed on the page.                                
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Press Contacts
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    For press inquiries, please contact the Mude PR team via pr@Mude.com.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Career Opportunities
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    Interested in joining the Mude family? Learn about an exciting career with us by visiting our Careers page.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Legal
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <p class="mx-0 my-0 px-0 py-0">
                                    For legal inquiries, please direct correspondence to: Mude, ATTN: Legal Department 250 Circle Road, Tubman, NY 11790. 
                                    Please note that Mude cannot grant permission for reuse of its photos, video covers,
                                    or reviews for school reports, news articles, or the like. For trademark reuse via the Mude Licensing program.
                                    Please review further details here.
                                </p>
                            </div>

                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Licensing or Partnership Inquires
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                Fill out our
                                <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Partnership%20Request%20to%20Mude">Email Form</a>.</p>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Submit Movie Information
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pb-4">
                                <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Fixing%20Request%20to%20Mude">Tell us</a> about missing or incorrect movie or TV information.
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-4 pb-0">
                                <h6 class="mx-0 my-1 px-0 py-0 text-danger">
                                    Advertise
                                </h6>
                            </div>
                            <div class="col-12 mx-0 my-0 px-0 pt-0 pt-0 pb-4">
                                Review
                                <a class="text-danger-light hover-dark" href="mailto:admin@mude.com?Subject=My%20Advertisment%20Request%20to%20Mude">Mude Advertising Opportunities</a>.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 mx-0 mt-md-0 mt-sm-2 mt-2 mb-0 pl-md-2 px-0 py-0">
                    <div class="col-12 mx-0 my-0 px-0 py-4">
                        <div class="col-12 mx-0 my-0 px-0 py-2 list bat active" style="cursor: pointer;" id="about-us">
                            <p class="ml-5 px-0 my-0 py-0">About Us</p>
                        </div>
                        <div class="col-12 mx-0 my-0 px-0 py-2 list bat" style="cursor: pointer;" id="contact-us">
                            <p class="ml-5 my-0 px-0 py-0">Contact Us</p>
                        </div>
                        </a>
                        <div class="col-12 mx-0 my-0 px-0 py-2 list bat" style="cursor: pointer;" id="terms">
                            <p class="ml-5 my-0 px-0 py-0">Terms of Service</p>
                        </div>
                        <div class="col-12 mx-0 my-0 px-0 py-2 list bat" style="cursor: pointer;" id="help">
                            <p class="ml-5 px-0 my-0 py-0">Help</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <footer class="px-0 d-none" th:replace="index :: footer">
    </footer>

    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/main.js"></script>
    <script src="js/details.js"></script>
    <script>
        $(function () {
            $('.list').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $(this).removeClass('bat').siblings().addClass('bat');
            });

            var tab = getParameterByName("tab");
            if (tab === "0") {
                $("#about-us-div").siblings().hide();
                $("#about-us-div").fadeIn();
                $("#about-us").addClass('active').siblings().removeClass('active');
                $("#about-us").removeClass('bat').siblings().addClass('bat');
            }
            if (tab === "1") {
                $("#contact-us-div").siblings().hide();
                $("#contact-us-div").fadeIn();
                $("#contact-us").addClass('active').siblings().removeClass('active');
                $("#contact-us").removeClass('bat').siblings().addClass('bat');
            }
            if (tab === "2") {
                $("#terms-div").siblings().hide();
                $("#terms-div").fadeIn();
                $("#terms").addClass('active').siblings().removeClass('active');
                $("#terms").removeClass('bat').siblings().addClass('bat');
            }
            if (tab === "3") {
                $("#help-div").siblings().hide();
                $("#help-div").fadeIn();
                $("#help").addClass('active').siblings().removeClass('active');
                $("#help").removeClass('bat').siblings().addClass('bat');
            }
            
            $("#about-us").click(function () {
                $("#about-us-div").siblings().hide();
                $("#about-us-div").fadeIn();
            });
            $("#contact-us").click(function () {
                $("#contact-us-div").siblings().hide();
                $("#contact-us-div").fadeIn();
            });
            $("#terms").click(function () {
                $("#terms-div").siblings().hide();
                $("#terms-div").fadeIn();
            });
            $("#help").click(function () {
                $("#help-div").siblings().hide();
                $("#help-div").fadeIn();
            });
        });
    </script>
</body>
</html>